//  =====================================================
//  HTML Living Standard
//  Heading elements (part of section elements)
//  https://html.spec.whatwg.org/multipage/sections.html
//  h1, h2, h3, h4, h5, h6
//  =====================================================

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
  line-height: var(--line-height-heading);
  margin: 0;
}

h1 {
  font-size: var(--font-size-xxx-large);
}

main > h1 {
  margin-block-start: var(--spacing-large);
}

article > h1 {
  margin-block-start: 0;
}

header[role="banner"] h1 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xx-large);
  font-weight: var(--font-weight);
  letter-spacing: 0.02em;
  color: var(--color-white);
}

header h1 span {
  display: block;
  font-size: 75%;
}

main h1 span {
  display: block;
  font-size: 70%;
  line-height: 1.5;
}

h2 {
  font-size: var(--font-size-x-large);
  margin-block-start: var(--spacing-x-large);
}


h3 {
  font-size: var(--font-size-large);
}

h4 {
  font-size: var(--font-size-medium);
  text-transform: uppercase;
}

h5,
h6 {
  font-size: var(--font-size);
}

[lang="zh-Hans"] {
  margin-top: var(--spacing-x-large);
}

[lang="zh-Hans"] * {
  font-family: var(--font-family-chinese);
}
